:root {
    --cor-principal: #007bff; 
    --cor-secundaria: #343a40; 
    --cor-fundo-card: #f8f9fa; 
}

body {
    padding-top: 56px; 
}

.btn-primary:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

footer::before {
    content: "---"; 
    display: block;
    text-align: center;
    color: var(--cor-principal);
    margin-bottom: 10px;
}

.card-body-flex { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card {
    border: 1px solid var(--cor-principal);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}